<div class="header-container">
  <header>
      <ul class="nav">
        <!--Change the  URL here if working on an absolute domain-->
        <li><a href="{{ site.url }}"><i class="fa fa-home" aria-hidden="true" style="margin-right: 6px;"></i>Home</a></li>
        <li><a href="{{ site.url }}/about"><i class="fa fa-user" aria-hidden="true" style="margin-right: 6px;"></i>About</a></li>
        <li><a href="{{ site.owner.github }}" target="_blank"><i class="fa fa-terminal" aria-hidden="true" style="margin-right: 6px;"></i>Projects</a></li>
        <li><a href="{{ site.url }}/feed.xml"><i class="fa fa-rss" aria-hidden="true" style="margin-right: 6px;"></i>RSS</a></li>        
      </ul>
  </header>
</div>
