---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="post-date" style="margin-top:-30px;">{{ page.date | date: "%Y/%m/%d (%a)" }}</p>

<div class="post">
{{ content }}
</div>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

{% if site.disqus_shortname %}
{% include disqus_comments.html %}
{% endif %}
